nav {
  text-decoration: none;
  border: 2px solid black;
}

.mi-icon {
  border-color: rgb(206, 143, 6);
  border: 1px;
}

.mi-btn {
  background-color: rgb(59, 117, 51);
  color: rgb(206, 143, 6);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
}

.img-uno {
  background-image: url(../images/IL2023.JPG);
}

.img-dos {
  background-image: url(../images/people.avif);
}

.img-tres {
  background-image: url(../images/studenst.avif);
}

p {
  font-size: 25px;
  margin: 0 0 24px 0;
  color: rgb(59, 117, 51);
}

h1 {
  color: rgb(206, 143, 6);
  font-family: "Julius Sans One", sans-serif;
}

h2, h3 {
  text-align: center;
}

nav {
  background-color: rgb(59, 117, 51);
  color: white;
}

.navbar-mio {
  padding: 10px;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: white;
  background-color: transparent;
  border: 4px rgb(245, 242, 242);
  border-radius: 3px;
  transition: all;
}

.where {
  background-color: rgb(206, 143, 6);
}

.where1 {
  background-image: url(../images/GIRONA.jpg);
}

.where2 {
  background-image: url(../images/Celra.jpg);
}

.p {
  color: rgb(245, 238, 238);
  background-color: rgba(78, 80, 78, 0.5);
  border-radius: 5%;
}

.about-us {
  background-image: url(../images/aboutU.avif);
  background-repeat: repeat;
  background-size: contain;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-link {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.offcanvas-body {
  background-color: rgb(59, 117, 51);
}

.dropdown-item {
  background-color: rgb(59, 117, 51);
}

.txt-us2 {
  color: rgb(12, 12, 12);
  padding: 1%;
  border: 25%;
  font-size: 35px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.Form {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.mi-selection {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) green, blue, alpha;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.form-select {
  background-color: rgb(206, 143, 6);
  font-family: "Quicksand", sans-serif;
  box-shadow: none;
  border-color: black;
}

.area-txt {
  border-color: black;
  border-radius: 10px;
}

.mi-btn {
  background-color: green;
  color: rgb(221, 220, 218);
  border-color: black;
  border-radius: 10px;
}
.mi-btn a {
  background-color: rgb(110, 119, 105);
  transition: background-color 0.5s;
}
.mi-btn a:hover {
  color: rgb(206, 143, 6);
}

.footer {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 10px;
  height: auto;
}

.navbar-mio {
  padding: 10px;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: white;
  background-color: transparent;
  border: 4px rgb(245, 242, 242);
  border-radius: 3px;
  transition: all;
}

.mi-btn {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) green, blue, alpha;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.pEO {
  color: green;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.txt-us3 {
  color: rgb(0, 0, 0);
  padding: 1%;
  border: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-align: center;
}

.txt-IL {
  color: rgb(212, 160, 17);
  font-family: "Julius Sans One", sans-serif;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-link {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.offcanvas-body {
  background-color: rgb(59, 117, 51);
}

.dropdown-item {
  background-color: rgb(59, 117, 51);
}

.mi-btn {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) green, blue, alpha;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

footer div {
  background-color: rgb(59, 117, 51);
}
footer div h2 {
  color: rgb(206, 143, 6);
  font-size: 20px;
  text-align: center;
}
footer div img {
  width: 150px;
  opacity: 10%;
  padding: 1%;
}

/*# sourceMappingURL=style.css.map */
