.mi-icon {
  border-color: rgb(206, 143, 6);
  border: 1px;
}

.mi-btn {
  background-color: rgb(131, 194, 41);
  color: rgb(206, 143, 6);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
}

.img-uno {
  background-image: url(../images/LogoInterlingua.png);
}

.img-dos {
  background-image: url(../images/people.avif);
}

.img-tres {
  background-image: url(../images/studenst.avif);
}

p {
  font-size: 25px;
  margin: 0 0 24px 0;
  color: rgb(131, 194, 41);
}

.Textos {
  padding: 5%;
  text-align: center;
}

.texto-interior {
  font-size: 15px;
  color: black;
  padding: 3%;
}

h1 {
  color: rgb(206, 143, 6);
  font-family: "Julius Sans One", sans-serif;
}

h2, h3 {
  text-align: center;
}

nav {
  background-color: rgb(131, 194, 41);
  color: white;
}

.navbar-mio {
  padding: 10px;
  line-height: 1;
  color: white;
  background-color: transparent;
  border: 4px rgb(245, 242, 242);
  border-radius: 15px;
  transition: all;
}

.where {
  background-color: rgb(206, 143, 6);
}

.where1 {
  background-image: url(../images/GIRONA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.where2 {
  background-image: url(../images/Celra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p {
  color: rgb(245, 238, 238);
  background-color: rgba(78, 80, 78, 0.5);
  border-radius: 5%;
}

.about-us {
  background-image: url(../images/FondoAu.avif);
  background-repeat: repeat;
  background-size: contain;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-link {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.offcanvas-body {
  background-color: rgb(131, 194, 41);
}

.dropdown-item {
  background-color: rgb(131, 194, 41);
}

.Txt-Carrousel1 {
  color: black;
  background-color: rgba(78, 80, 78, 0.5);
  border-radius: 10%;
}

.Txt-Carrousel2 {
  color: white;
  background-color: rgba(78, 80, 78, 0.5);
  border-radius: 10%;
}

.About-u {
  color: black;
}

.Logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  html {
    font-size: 20px;
  }
}

.txt-us2 {
  color: rgb(12, 12, 12);
  padding: 1%;
  border: 25%;
  font-size: 35px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.Form {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.mi-selection {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.mi-selection:hover {
  background-color: rgb(167, 211, 7);
}
.mi-selection:hover {
  background-color: rgb(131, 194, 41);
  color: white;
}

.form-select {
  background-color: rgb(131, 194, 41);
  font-family: "Quicksand", sans-serif;
  box-shadow: none;
  border-color: black;
}

.area-txt {
  border-color: black;
  border-radius: 10px;
}

.mi-btn {
  background-color: green;
  color: rgb(221, 220, 218);
  border-color: black;
  border-radius: 10px;
}
.mi-btn a {
  background-color: rgb(110, 119, 105);
  transition: background-color 0.5s;
}
.mi-btn a:hover {
  color: rgb(206, 143, 6);
}

.footer {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 10px;
  height: auto;
}

.navbar-mio {
  padding: 10px;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: white;
  background-color: transparent;
  border: 4px rgb(245, 242, 242);
  border-radius: 3px;
  transition: all;
}

.txt-us1 {
  color: rgb(206, 143, 6);
  text-align: center;
}

body {
  overflow-x: hidden;
}

.navbar-mio {
  padding: 10px;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: white;
  background-color: transparent;
  border: 4px rgb(245, 242, 242);
  border-radius: 3px;
  transition: all;
}

.mi-btn {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.mi-btn:hover {
  background-color: rgb(167, 211, 7);
}

.pEO {
  color: green;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.txt-us3 {
  color: rgb(0, 0, 0);
  padding: 1%;
  border: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-align: center;
}

.txt-IL {
  color: rgb(212, 160, 17);
  font-family: "Julius Sans One", sans-serif;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-link {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.offcanvas-body {
  background-color: rgb(131, 194, 41);
}

.dropdown-item {
  background-color: rgb(131, 194, 41);
}

.cards {
  padding: 5%;
  width: 33%;
  height: 10%;
  border: 10%;
}

.Offer {
  text-align: center;
}

.Bordes {
  padding: 5%;
}

@media (max-width: 576px) {
  .cards {
    padding: 7%;
    width: 70%;
    height: 60%;
    border: 20%;
  }
}
.mi-btn {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.mi-btn:hover {
  background-color: rgb(167, 211, 7);
}

.LGIN {
  color: rgb(12, 12, 12);
  padding: 1%;
  border: 25%;
  font-size: 35px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

footer {
  background-color: rgb(131, 194, 41);
}
footer h2 {
  color: rgb(206, 143, 6);
  font-size: 20px;
  text-align: center;
}
footer img {
  width: 80px;
  padding: 1%;
}

.Footcontainer {
  display: flex;
  align-items: end;
}

.Images-ft {
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
