//estilos agrupados 
$nav:(
    bg-c: $color-primario,
    deco: none,
    borde: 2px solid black,

);
//ejemplo
nav{
    background-color: map-get($nav,gray);
    text-decoration: map-get($nav, deco);
    border: map-get($nav, borde);
}
