@mixin footerIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

//ejemplo

.caja{
    @include footerIndex();
}

//parametros


@mixin color-base($colores-uno, $paddinX, $bordesR){
    background-color: $colores-uno;
    padding: 0 $paddinX;
    border-radius: $bordesR;
}

.caja{
    @include color-base(plum, 40px, 10%);
}

.main{
    @include color-base(plum, 60px, 8%);
}