$colores-primario: rgb(64, 64, 65);
$colores-secundarios: #6B6, rgb(206, 143, 6), ;
$colores-textos: #fff8f8, orange , black, green;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general:  'Tajawal', sans-serif;
$tipografia-alternativa: font-family  'Quicksand', sans-serif;

//prueba
