$color-primario: rgb(131, 194, 41);
$color-secundario:rgb(206, 143, 6) ;
$colores-textos:  black;
$color-fondo1: rgb(14, 114, 27);
$color-btn: orange;
$color-fondo2: rgb(241, 202, 128);


$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general:'Julius Sans One', sans-serif;
$tipografia-alternativa: 'Montserrat', sans-serif;
$tipografia-ft:   'Julius Sans One', sans-serif;
$size-tipografia: 20px;
$size-Title: 30px;
$borde-btn: black;


