
html{
    @media (max-width: 576px) {
        
        font-size: 20px; // Ajusta el tamaño de la fuente para dispositivos de 576px o menos
        
      }
}
.txt-us2{
    @include txt-us2
    
}

.Form{
    @include FORMULARIO
}

.mi-selection{
    @include Botones;
    &:hover{
        background-color: $color-primario;
        color: white;
    }
    
}
.form-select{
    background-color: $color-primario;
    font-family:  'Quicksand', sans-serif;
    box-shadow: none;
    border-color: black;
    
}
.area-txt{
    border-color: black;
    border-radius: 10px;
    
}

.mi-btn{
    
    @include Mi-active
}

.footer{
    
    display: flex;
    align-items: center;
    @include Footer-container
}

.navbar-mio {
    padding: 10px;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: white;
    background-color: transparent;
    border: 4px rgb(245, 242, 242);
    border-radius: 3px;
    transition:all;
}

.txt-us1{
    color: $color-secundario;
    text-align: center;
}