
//#4e8a3f color fondo
.navbar-mio {
    padding: 10px;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: white;
    background-color: transparent;
    border: 4px rgb(245, 242, 242);
    border-radius: 3px;
    transition:all;
}

.mi-btn{
	@include Botones
}

.pEO{
    color: green;
    font-family: $tipografia-alternativa;
    font-size: 15px;
}

.txt-us3{
    @include txt-us3
}


.txt-IL{
    
    @include txt-IL
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    @include Cl-IL
}
.nav-link {
    @include Cl-IL
}
.offcanvas-body {
    background-color: $color-primario;
}
.dropdown-item{
    background-color: $color-primario;
    
}