footer{
    div{
        background-color: rgb(46, 104, 29);
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        img{
            max-width: 25%;
            max-height: 25%;
        }
    }
}