footer{
    div{
        background-color: $color-primario;
        h2{
            color: $color-secundario;
            font-size: 20px;
            text-align: center;
        }
        img{
             width: 150px;
             opacity: 10%;
             padding: 1%;
        }
    }
}