header{
	display: flex;
	position: static;
	top:2rem;
	width: 60%;
	z-index: 1111;
	align-items:center;
    .NavbarA{
        font-size: 25px;
        font-weight: bold;
    }
    .clasNAV{
        display: grid;
        align-items:center;
        display:list-item;
        font-family:  'Montserrat', sans-serif;
        
    }
}