.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.img-uno{background-image: url(../../images/childs.avif);}

.img-dos{background-image: url(../../images/people.avif);}

.img-tres{background-image: url(../../images/studenst.avif);}

p{
	font-size: 25px;
	margin:0 0 24px 0;
	color: $color-primario;
}
nav{
	background-color: $color-primario;
	color: white;
}


